html.spark-widget-opened {
    &,
    body {
        @media (max-width: @screen-sm-min) {
            overflow: hidden;
            position: relative;
            -webkit-overflow-scrolling: auto;
            max-height: 100%;
            height: 100%;
            width: 100%;
            #spark-holder {
                #spark-container {
                    #spark-header {
                        #spark-settings-handle {
                            height: 40px;
                            width: 40px;
                            right: 40px;
                        }
                        .spark-close-handle {
                            height: 40px;
                            width: 40px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}
#spark-container.spark-ios-device {
    -webkit-text-size-adjust: 100%;
}
