&.spark-appear {
    .spark-appear-hidden {
        display: none;
    }

    .spark-appear-visible {
        display: block;
    }
}

&.spark-close {
    .spark-close-hidden {
        display: none;
    }

    .spark-close-visible {
        display: block;
    }
}
